body {
  background-color: lightgrey;
}

h2 {
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.description {
  color: black;
}

.item {
  margin: 5pt;
  padding: 20pt;
  border-color: black;
  border-style: solid;
  background-color: whitesmoke;
  border-radius: 5px;
  max-width: 350px;
}

.oldPrice {
  color: red;
  font-size: 15pt;
}

#salePrice {
  color: green;
  font-weight: bold;
  font-size: 20pt;
}

button {
  background-color: white;
  display: block;
  width: 80%;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  color: green;
  border-color: green;
  border-style: solid;
}

button:hover {
  background-color: green; /* Change background on hover */
  color: white; /* Change text color on hover */
  cursor: pointer; /* Change mouse to pointer icon */
  border-color: white;
}
